html,body {
    margin:0;
    padding:0;
    height:100%;
  }
  
  [contentEditable=true]:empty:not(:focus):before{
      content:attr(data-text)
  }
  
  div {
    font-size: 13px;
  }
  
  .input {
    display: inline-block;
    height:20px;
    width:120px;
    background-color:#fff;
    border-radius:4px;
    border:1px solid #666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  }

  .checkbox {
    display: inline-block;
    width:20px;
    height:20px;
    border:1px solid rgba(0,0,0,0.8);
    background-color:rgba(0,0,0,0.2);
    user-select: none;
  }

  .sidebar{
    position:fixed;
    width: 200px;
    background-color: rgb(50, 87, 125);
    top: 0;
    bottom: 0;
    left: 0;
    transition: all .3s ease;
    box-shadow: inset -7px 0 50px -7px rgba(0,0,0,.5);
  }
  
  .item{
    line-height:40px;
    background-color: rgba(0,0,0,0.5);
    transition: ease-in-out 0.2s;
    padding: 5px;
    display:border-box;
    list-style:none;
    color: rgba(255,255,255,0.5);
  }
  
  .item:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  .content  {
    width: 100%;
    background-color: rgb(68, 125, 50);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 200px;
    box-shadow: inset -7px 0 50px -7px rgba(0,0,0,.5);
  }
  
  .container {
    display:inline-block;
    padding: 5px;
    box-sizing: border-box;
  }
  
  span {
    display: inline-block;
  }
  
  .textarea {
    font-family: arial, sans-serif;
    font-size: 0.875em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    border-radius: 4px;
    padding: 5px;
    margin: auto;
    height:100%;
    box-sizing: border-box;
    height: 100%;
    overflow: scroll
  }
  
  .list {
    margin:0;
    padding:0;
  }

  .list .item{
    display:inline-block;
    background-color: rgba(255,255,255,0.5);
    line-height: 14px;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    border-radius: 4px;
    transition: ease-in-out 0.2s;
  }